<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hankroa817.godsaid"
          android:versionCode="13"
          android:versionName="1.1.2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.hankora817.godsaid.activity.PhraseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_talktalk"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hankora817.godsaid.activity.SplashAcitivty"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/LauncherTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity
            android:name="com.hankora817.godsaid.activity.PhraseActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.hankora817.godsaid.activity.PhraseListActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name="com.hankora817.godsaid.activity.QuizActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name="com.hankora817.godsaid.activity.ScoreActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name="com.hankora817.godsaid.activity.GraphActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@style/Theme.Transparent">
        </activity>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <receiver
            android:name="com.hankora817.godsaid.widget.GodWidget"
            android:label="위젯">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/godwidgetmeta"/>
        </receiver>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key"/>
    </application>

</manifest>